 
@import './../../theme/variables.scss';
#LoginFrom{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .Logo_Img{
        background: #d8d8d8;
        width: 200px;
        height: 200px;
        margin: 0 auto 30px;
    }
    .Forgot_Link{
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }
}
 
#creat-actionplans{
    .plan-date{
        font-size: 14px;
    }
}