
// @font-face {
//   font-family: 'Poppins';
//   src: url('Poppins-Light.eot');
//   src: local('./fonts/poppins/Poppins Light'), local('Poppins-Light'),
//     url('./fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/poppins/Poppins-Light.woff') format('woff'),
//     url('./fonts/poppins/Poppins-Light.ttf') format('truetype'),
//     url('./fonts/poppins/Poppins-Light.svg#Poppins-Light') format('svg');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Poppins';
//   src: url('./fonts/poppins/Poppins-Medium.eot');
//   src: local('./fonts/poppins/Poppins Medium'), local('Poppins-Medium'),
//     url('./fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/poppins/Poppins-Medium.woff') format('woff'),
//     url('./fonts/poppins/Poppins-Medium.ttf') format('truetype'),
//     url('./fonts/poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Poppins';
//   src: url('./fonts/poppins/Poppins-SemiBold.eot');
//   src: local('./fonts/poppins/Poppins SemiBold'), local('Poppins-SemiBold'),
//     url('./fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/poppins/Poppins-SemiBold.woff') format('woff'),
//     url('./fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
//     url('./fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Poppins';
//   src: url('./fonts/poppins/Poppins.eot');
//   src: local('./fonts/poppins/Poppins Bold'), local('Poppins'),
//     url('./fonts/poppins/Poppins.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/poppins/Poppins.woff') format('woff'),
//     url('./fonts/poppins/Poppins.ttf') format('truetype'),
//     url('./fonts/poppins/Poppins.svg#Poppins') format('svg');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Poppins';
//   src: url('./fonts/poppins/Poppins-Regular.eot');
//   src: local('./fonts/poppins/Poppins'), local('Poppins-Regular'),
//     url('./fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/poppins/Poppins-Regular.woff') format('woff'),
//     url('./fonts/poppins/Poppins-Regular.ttf') format('truetype'),
//     url('./fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Ultralight.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Ultralight.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Ultralight.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Regular.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Regular'), local('SFUIDisplay-Regular'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Regular.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Regular.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Heavy.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Heavy.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Heavy.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Black.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Black'), local('SFUIDisplay-Black'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Black.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Black.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Medium.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Medium'), local('SFUIDisplay-Medium'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Medium.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Medium.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Bold.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Bold'), local('SFUIDisplay-Bold'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Bold.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Bold.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Thin.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Thin'), local('SFUIDisplay-Thin'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Thin.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Thin.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Light.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Light'), local('SFUIDisplay-Light'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Light.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Light.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Display';
//   src: url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Semibold.eot');
//   src: local('./fonts/SF_UI_Display/SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Semibold.woff') format('woff'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Semibold.ttf') format('truetype'),
//     url('./fonts/SF_UI_Display/hinted-SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-UltralightItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Ultralight Italic'), local('SFUIText-UltralightItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-UltralightItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-UltralightItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-UltralightItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-UltralightItalic.svg#SFUIText-UltralightItalic') format('svg');
//   font-weight: 200;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Semibold.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Semibold'), local('SFUIText-Semibold'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Semibold.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Semibold.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Semibold.svg#SFUIText-Semibold') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-SemiboldItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text SemiboldItalic'), local('SFUIText-SemiboldItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-SemiboldItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-SemiboldItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-SemiboldItalic.svg#SFUIText-SemiboldItalic') format('svg');
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-MediumItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text MediumItalic'), local('SFUIText-MediumItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-MediumItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-MediumItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-MediumItalic.svg#SFUIText-MediumItalic') format('svg');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-RegularItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Regular Italic'), local('SFUIText-RegularItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-RegularItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-RegularItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-RegularItalic.svg#SFUIText-RegularItalic') format('svg');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-BoldItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text BoldItalic'), local('SFUIText-BoldItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-BoldItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-BoldItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-BoldItalic.svg#SFUIText-BoldItalic') format('svg');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Medium.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Medium'), local('SFUIText-Medium'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Medium.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Medium.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Medium.svg#SFUIText-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Regular.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Regular'), local('SFUIText-Regular'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Regular.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Regular.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Regular.svg#SFUIText-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Ultralight.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Ultralight'), local('SFUIText-Ultralight'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Ultralight.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Ultralight.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Ultralight.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Ultralight.svg#SFUIText-Ultralight') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Light.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Light'), local('SFUIText-Light'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Light.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Light.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Light.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Light.svg#SFUIText-Light') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-LightItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text LightItalic'), local('SFUIText-LightItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-LightItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-LightItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-LightItalic.svg#SFUIText-LightItalic') format('svg');
//   font-weight: 200;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Heavy.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Heavy'), local('SFUIText-Heavy'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Heavy.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Heavy.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-Bold.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text Bold'), local('SFUIText-Bold'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Bold.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Bold.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-Bold.svg#SFUIText-Bold') format('svg');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF UI Text';
//   src: url('./fonts/SF_UI_Text/hinted-SFUIText-HeavyItalic.eot');
//   src: local('./fonts/SF_UI_Text/SF UI Text HeavyItalic'), local('SFUIText-HeavyItalic'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-HeavyItalic.woff') format('woff'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-HeavyItalic.ttf') format('truetype'),
//     url('./fonts/SF_UI_Text/hinted-SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic') format('svg');
//   font-weight: 900;
//   font-style: italic;
// }


@font-face {
    font-family: 'gt_walsheim_probold';
    src: url('/fonts/GT_Walsheim/gt-walsheim-pro-bold-webfont.woff2') format('woff2'),
         url('/fonts/GT_Walsheim/gt-walsheim-pro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('/fonts/GT_Walsheim/gt-walsheim-pro-light-webfont.woff2') format('woff2'),
         url('/fonts/GT_Walsheim/gt-walsheim-pro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('/fonts/GT_Walsheim/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
         url('/fonts/GT_Walsheim/gt-walsheim-pro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('/fonts/GT_Walsheim/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
         url('/fonts/GT_Walsheim/gt-walsheim-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 